.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(231, 224, 224);
  background-color: rgb(32, 32, 32);
}
.block{
  width: 700px;
  height: max-content;
}
#input1, #input2{
  margin-right: 20px;
}
.input{
  width: 100%;
  height: max-content;
  align-items:center;
  justify-content:center;
  display: flex;
}
#trash{
  background-color: blueviolet;
}
.data_table{
  width: 100%;
}
#id_button_new, #id_button_delete{
  margin: 10px;
}
.box {
  background-color: var(--surface-e);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}  
.box-stretched {
  height: 100%;
}
.vertical-container {
  margin: 0;
  height: 200px;
  background: var(--surface-d);
  border-radius: 4px;
}
.nested-grid .p-col-4 {
  padding-bottom: 1rem;
}
p {
  margin: 0;
}
